<li>
  <time><%= Time.now.to_s(:db) %></time>
  <span class="meta">
    <%= pluralize(words.size, 'result') %> found for ‘<%= term %>’ in
    <%= (permutation_time*1000).round(4) %>ms
  </span>
  <% if words.any? %>
  <ul class="anagrams">
    <%= words.map { |word| content_tag(:li, word) }.inject(:+) %>
  </ul>
  <% end %>
</li>
