<h1>Permuter</h1>
<section>
  <%= form_tag(upload_path, :multipart => true, :id => 'upload') do %>
    <%= file_field_tag :dictionary %>
    <%= submit_tag "Upload a new dictionary" %>
  <% end %>
  <p id="status">
    <% if permuter_loaded? %>
      <%= permuter_name %>
    <% else %>
      No dictionary currently loaded
    <% end %>
  </p>
</section>
<section>
  <%= form_tag(search_path, :remote => true, :id => 'search') do %>
    <%= label_tag :q, "Enter a word to search for anagrams." %>
    <%= text_field_tag :q %>
    <%= submit_tag "Search" %>
  <% end %>
  <ol class="results">
  </ol>
</section>
