/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  width: 500px;
  margin: 5em auto;
  font-family: sans-serif;
  border: 1px solid grey; 
  padding: 1em 5em;
}

h1 {
  color: #666;
  margin-bottom: 1em;
  padding: 0;
}
section {
  border-top: 1px solid #666;
  margin-top: 1em;
  padding-top: 1em;
}
section label {
  display: block;
}
ol.results {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
ol.results span.meta {
  display: block;
}
ol.results > li {
  padding-bottom: 1em;
}
ol.results ul.anagrams {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0.25em 0 0 0;
}
ol.results ul.anagrams li {
  display: inline;
}
ol.results ul.anagrams li:after {
  content: ", ";
}
ol.results ul.anagrams li:last-child:after {
  content: '';
}